@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 277 89% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 207 90% 61%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 10%; /* #1A1A1A */
    --foreground: 0 0% 88%; /* #E0E0E0 */
    --card: 0 0% 14%; /* #242424 */
    --card-foreground: 0 0% 88%; /* #E0E0E0 */
    --popover: 0 0% 10%; /* #1A1A1A */
    --popover-foreground: 0 0% 88%; /* #E0E0E0 */
    --primary: 183 100% 36%; /* #00ADB5 */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14%; /* #242424 */
    --secondary-foreground: 0 0% 88%; /* #E0E0E0 */
    --muted: 0 0% 14%; /* #242424 */
    --muted-foreground: 0 0% 69%; /* #B0B0B0 */
    --accent: 183 100% 36%; /* #00ADB5 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 14%;
    --ring: 183 100% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .font-belleza {
    font-family: 'Belleza', sans-serif;
  }
  .font-alegreya {
    font-family: 'Alegreya', serif;
  }
}
